Having completed data wrangling and EDA , it is now time to preprocess the split the data in order to make it usable for data modeling.

In [148]:
import pandas as pd
import numpy as np
from sklearn.feature_selection import VarianceThreshold
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

Import the CSV file and convert it to a dataframe.

In [150]:
df = pd.read_csv('df.csv', index_col=False)

Rename columns to remove metrics that become irrelevant after standardization.

In [152]:
df.rename( columns = {'NA Sales (Millions)': 'NA Sales', 'Global Sales (Millions)': 'Global Sales'}, inplace = True)

In [153]:
df.head()

,GameID,Game,Release Date,Rating,Genre,Price (USD),Platform,Publisher,Developer,Metacritic Score,Player Score,NA Sales,Global Sales
0,12140,Max Payne,2011-01-06,M,Action,3.49,PS2,Take-Two Interactive,Rockstar Toronto,89,8.5,1.99,3.31
1,12140,Max Payne,2011-01-06,M,Action,3.49,XB,Take-Two Interactive,neo Software,89,8.3,0.98,1.22
2,12140,Max Payne,2011-01-06,M,Action,3.49,GBA,Take-Two Interactive,Mobius Entertainment,89,7.8,0.02,0.03
3,748490,The Legend of Heroes: Trails of Cold Steel II,2018-02-14,T,RPG,39.99,PSV,Nippon Ichi Software,Falcom,81,7.3,0.02,0.19
4,748490,The Legend of Heroes: Trails of Cold Steel II,2018-02-14,T,RPG,39.99,PS3,Nippon Ichi Software,Falcom,81,7.8,0.02,0.15

Check on the datatypes of each column.

In [155]:
df.dtypes

GameID                int64
Game                 object
Release Date         object
Rating               object
Genre                object
Price (USD)         float64
Platform             object
Publisher            object
Developer            object
Metacritic Score      int64
Player Score        float64
NA Sales            float64
Global Sales        float64
dtype: object

Create a variable, dfo, with only the non-numerical columns.

In [157]:
dfo = df.select_dtypes(include = 'object')

Create dummy variables using dfo and reduce the amount of dummy variables created to increase model efficiency by putting in a threshold of .01.

In [159]:
df_dummies = pd.get_dummies(dfo)
selector = VarianceThreshold(threshold = .01)
df_dummies_reduced = selector.fit_transform(df_dummies)

Add the dummy variables to the original dataframe.

In [160]:
selected_columns = df_dummies.columns[selector.get_support()]
df_dummies_reduced = pd.DataFrame(df_dummies_reduced, columns=selected_columns)
df_reduced = df.drop(columns=dfo.columns)
df = pd.concat([df_reduced, df_dummies_reduced], axis=1)

Check on the new shape of the df with the dummy variables

In [162]:
df.shape

(442, 88)

Check the info of the new dataframe, such as the dtype's of the dummy variables.

In [164]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 88 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   GameID                                            442 non-null    int64
 1   Price (USD)                                       442 non-null    float64
 2   Metacritic Score                                  442 non-null    int64
 3   Player Score                                      442 non-null    float64
 4   NA Sales                                          442 non-null    float64
 5   Global Sales                                      442 non-null    float64
 6   Game_F.E.A.R.                                     442 non-null    bool
 7   Game_Portal 2                                     442 non-null    bool
 8   Game_The Evil Within                              442 non-null    bool
 9   Game_Tomb Raider: Legend                          442 non-null    bool
 10  Game_Tomb Raider: Underworld                      442 non-null    bool
 11  Game_Wolfenstein: The New Order                   442 non-null    bool
 12  Release Date_2007-03-15                           442 non-null    bool
 13  Release Date_2007-03-29                           442 non-null    bool
 14  Release Date_2008-01-04                           442 non-null    bool
 15  Release Date_2008-11-21                           442 non-null    bool
 16  Release Date_2009-10-06                           442 non-null    bool
 17  Release Date_2010-05-21                           442 non-null    bool
 18  Release Date_2011-04-18                           442 non-null    bool
 19  Release Date_2012-10-08                           442 non-null    bool
 20  Release Date_2013-08-19                           442 non-null    bool
 21  Release Date_2014-05-19                           442 non-null    bool
 22  Release Date_2014-10-06                           442 non-null    bool
 23  Release Date_2014-10-13                           442 non-null    bool
 24  Rating_E                                          442 non-null    bool
 25  Rating_E10+                                       442 non-null    bool
 26  Rating_M                                          442 non-null    bool
 27  Rating_T                                          442 non-null    bool
 28  Genre_Action                                      442 non-null    bool
 29  Genre_Adventure                                   442 non-null    bool
 30  Genre_RPG                                         442 non-null    bool
 31  Genre_Racing                                      442 non-null    bool
 32  Genre_Simulation                                  442 non-null    bool
 33  Genre_Strategy                                    442 non-null    bool
 34  Platform_DS                                       442 non-null    bool
 35  Platform_GC                                       442 non-null    bool
 36  Platform_PC                                       442 non-null    bool
 37  Platform_PS2                                      442 non-null    bool
 38  Platform_PS3                                      442 non-null    bool
 39  Platform_PS4                                      442 non-null    bool
 40  Platform_PSP                                      442 non-null    bool
 41  Platform_PSV                                      442 non-null    bool
 42  Platform_Wii                                      442 non-null    bool
 43  Platform_X360                                     442 non-null    bool
 44  Platform_XB                                       442 non-null    bool
 45  Platform_XOne                                     442 non-null    bool
 46  Publisher_Atari                                   442 non-null    bool
 47  Publisher_Bethesda Softworks                      442 non-null    bool
 48  Publisher_Capcom                                  442 non-null    bool
 49  Publisher_City Interactive                        442 non-null    bool
 50  Publisher_Codemasters                             442 non-null    bool
 51  Publisher_D3Publisher                             442 non-null    bool
 52  Publisher_Deep Silver                             442 non-null    bool
 53  Publisher_Eidos Interactive                       442 non-null    bool
 54  Publisher_Electronic Arts                         442 non-null    bool
 55  Publisher_Focus Home Interactive                  442 non-null    bool
 56  Publisher_Kalypso Media                           442 non-null    bool
 57  Publisher_Konami Digital Entertainment            442 non-null    bool
 58  Publisher_Microsoft Game Studios                  442 non-null    bool
 59  Publisher_Nippon Ichi Software                    442 non-null    bool
 60  Publisher_Sega                                    442 non-null    bool
 61  Publisher_Square Enix                             442 non-null    bool
 62  Publisher_THQ                                     442 non-null    bool
 63  Publisher_Take-Two Interactive                    442 non-null    bool
 64  Publisher_Telltale Games                          442 non-null    bool
 65  Publisher_Ubisoft                                 442 non-null    bool
 66  Publisher_Vivendi Games                           442 non-null    bool
 67  Publisher_Warner Bros. Interactive Entertainment  442 non-null    bool
 68  Developer_Arkane Studios                          442 non-null    bool
 69  Developer_Bethesda Game Studios                   442 non-null    bool
 70  Developer_Capcom                                  442 non-null    bool
 71  Developer_City Interactive                        442 non-null    bool
 72  Developer_Codemasters                             442 non-null    bool
 73  Developer_Crystal Dynamics                        442 non-null    bool
 74  Developer_Day 1 Studios                           442 non-null    bool
 75  Developer_Digital Extremes                        442 non-null    bool
 76  Developer_Falcom                                  442 non-null    bool
 77  Developer_Gearbox Software                        442 non-null    bool
 78  Developer_Haemimont                               442 non-null    bool
 79  Developer_Io Interactive                          442 non-null    bool
 80  Developer_MachineGames                            442 non-null    bool
 81  Developer_Obsidian Entertainment                  442 non-null    bool
 82  Developer_Rebellion                               442 non-null    bool
 83  Developer_Tango Gameworks                         442 non-null    bool
 84  Developer_Techland                                442 non-null    bool
 85  Developer_Valve Software                          442 non-null    bool
 86  Developer_Volition Inc.                           442 non-null    bool
 87  Developer_Yuke's                                  442 non-null    bool
dtypes: bool(82), float64(4), int64(2)
memory usage: 56.2 KB

Standardize the numeric variables for ML modeling.

In [211]:
# Select numeric columns, excluding GameID and Global Sales since GameID is an identifier and Global Sales is the depedent variable
numeric_columns = df.select_dtypes(include=['float64', 'int64']).columns.drop(['GameID'])

# Select boolean columns to keep them out of the standardizing process
boolean_columns = df.select_dtypes(include=['bool'])

# Keep the GameID and Global Sales columns separate
gid_gs_columns = df[['GameID']] 

# Initialize the StandardScaler
scaler = StandardScaler()

# Fit the scaler to the numeric data and transform it
df_numeric_standardized = scaler.fit_transform(df[numeric_columns])

# Convert the resulting NumPy array back to a df with the same column names
df_numeric_standardized = pd.DataFrame(df_numeric_standardized, columns=numeric_columns)

#Merge the two dataframe's back together to create the complete dataframe
df_final = pd.concat([gid_gs_columns, df_numeric_standardized, boolean_columns], axis=1)

#Check the new dataframe
df_final.head()

,GameID,Price (USD),Metacritic Score,Player Score,NA Sales,Global Sales,Game_F.E.A.R.,Game_Portal 2,Game_The Evil Within,Game_Tomb Raider: Legend,...,Developer_Haemimont,Developer_Io Interactive,Developer_MachineGames,Developer_Obsidian Entertainment,Developer_Rebellion,Developer_Tango Gameworks,Developer_Techland,Developer_Valve Software,Developer_Volition Inc.,Developer_Yuke's
0,12140,-0.909379,1.175885,0.984675,3.028921,2.878773,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,12140,-0.909379,1.175885,0.834958,1.165682,0.591315,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,12140,-0.909379,1.175885,0.460666,-0.605317,-0.711113,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,748490,2.429418,0.491903,0.086375,-0.605317,-0.535997,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,748490,2.429418,0.491903,0.460666,-0.605317,-0.579776,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Seperate the indepdent variables from the depedent variable.

In [168]:
X = df_final.drop(columns = ['Global Sales', 'GameID'])
y = df_final['Global Sales']

Split the data into training and testing sections with a split of 80/20, both for the X and y.

In [170]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2, random_state= 42)

Check the shapes of the training and testing data to make sure it was split accurately.

In [172]:
X_train.shape

(353, 86)

In [173]:
X_test.shape

(89, 86)

In [174]:
y_train.shape

(353,)

In [175]:
y_test.shape

(89,)

Check the final dataframe now that its numeric columns have been standardized and its non-numeric columns have been divided into dummy variables.

In [176]:
df_final.head()

,GameID,Price (USD),Metacritic Score,Player Score,NA Sales,Global Sales,Game_F.E.A.R.,Game_Portal 2,Game_The Evil Within,Game_Tomb Raider: Legend,...,Developer_Haemimont,Developer_Io Interactive,Developer_MachineGames,Developer_Obsidian Entertainment,Developer_Rebellion,Developer_Tango Gameworks,Developer_Techland,Developer_Valve Software,Developer_Volition Inc.,Developer_Yuke's
0,12140,-0.909379,1.175885,0.984675,3.028921,2.878773,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,12140,-0.909379,1.175885,0.834958,1.165682,0.591315,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,12140,-0.909379,1.175885,0.460666,-0.605317,-0.711113,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,748490,2.429418,0.491903,0.086375,-0.605317,-0.535997,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,748490,2.429418,0.491903,0.460666,-0.605317,-0.579776,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

Save the new dataframe.

In [177]:
df_final.to_csv('df_final', index=False)

Now that the data has been standardized, split, and has incorporated dummy variables, it is now ready to be used for data modeling.